@import "../Style/Base/Base";
@import "../Style/Layout/Layout";

.viewProject {


    .projectDetails {
    
        // .image {
        //     position: relative;
        //     transition: all .5s;
        //     -webkit-transition: all .5s;
        //     -moz-transition: all .5s;
        //     -ms-transition: all .5s;
        //     -o-transition: all .5s;
        
        //     .demo {
        //         visibility: visible;
        //         position: absolute;
        //         top: 50%;
        //         left: 50%;
        //         transform: translate(-50%, -50%);
        //         -webkit-transform: translate(-50%, -50%);
        //         -moz-transform: translate(-50%, -50%);
        //         -ms-transform: translate(-50%, -50%);
        //         -o-transform: translate(-50%, -50%);
        //         // transition: all .5s;
        //         // -webkit-transition: all .5s;
        //         // -moz-transition: all .5s;
        //         // -ms-transition: all .5s;
        //         // -o-transition: all .5s;
            
        //         i {
        //             background-color: $whiteLowOpacity;
        //             padding: 10px;
        //             font-size: 20px;
        //             border-radius: 50px;
        //             -webkit-border-radius: 50px;
        //             -moz-border-radius: 50px;
        //             -ms-border-radius: 50px;
        //             -o-border-radius: 50px;
        //         }
            
        //     }
        
        //     &::before {
        //         content: "";
        //         position: absolute;
        //         top: 0;
        //         left: 0;
        //         right: 0;
        //         bottom: 0;
        //         width: 100%;
        //         height: 100%;
        //         background-color: $whiteLowOpacity;
        //         visibility: visible;
        //         // transition: all .5s;
        //         // -webkit-transition: all .5s;
        //         // -moz-transition: all .5s;
        //         // -ms-transition: all .5s;
        //         // -o-transition: all .5s;
        //     }
        
        //     &:hover .demo {
        //         visibility: hidden;
        //     }
        
        //     &:hover::before {
        //         visibility: hidden;
        //     }
        
        // }
    
        .title {
            margin-block: 20px;
            font-size: 30px;
        
        }
    
        .description {
            margin-bottom: 20px;
            font-size: 20px;
            font-family: $fontNunito;
            line-height: 35px;
        }
    
        .technologies {
            margin-bottom: 50px;
        
            span {
                color: $lightBlue;
            
            }
        
        }
    
        .shots {
            margin-bottom: 100px;
        }
    
    }

}