@import "../Base/Font";

$blackColor: #000;
$whiteColor: #fff;
$bodyBackground: #fcfcfc;
$lightBlue: #3F51B5;
$lightBlack: #000000d3;
$lowOpacityLightBlue:rgba(63 81 181 / 50%);
$BlueColor: #061c45;
$darkBlue: #040e1e;
$YellowColor: #fcc409;
$darkYellow: #dfac03;
$darkWhite: #d3d3d3;
$darkBlack: #212529;
$blackLowOpacity: rgb(0 0 0 / 50%);
$whiteLowOpacity: hwb(0 75% 25% / 0.267);
$gray: #808080;
$grayLowOpacity: rgb(255 255 255 / 5%);
$borderColor: rgb(136 136 136 / 30%);
$playBtnColor: #cdcdcd;
$fontVicRegular: 'vic-Regular', Arial;
$fontVicMedium: 'vic-Medium', Arial;
$fontVicBold: 'vic-Bold', Arial;
$fontVicSemiBold: 'vic-SemiBold', Arial;
$fontNunito: 'Nunito', sans-serif;
$fontWeatherRegular: 'merriweather-Regular', Arial;
$fontWeatherLight: 'merriweather-light', Arial;
$fontWeatherBold: 'merriweather-Bold', Arial;
$fontWeatherBlack: 'merriweather-black', Arial;
$linearGradient: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
