@import "../Style/Base/Base";
@import "../Style/Layout/Layout";

.welcome {
    background-image: url('images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    // height: 100vh;

    .row {
        position: relative;
        z-index: 1;
    
        .right {
        
            .image {
                position: relative;
            
                .followSocial {
                    position: absolute;
                    right: -20px;
                    top: 50%;
                    gap: 100px;
                    transform: translate(40%, -50%) rotate(90deg);
                    -webkit-transform: translate(40%, -50%) rotate(90deg);
                    -moz-transform: translate(40%, -50%) rotate(90deg);
                    -ms-transform: translate(40%, -50%) rotate(90deg);
                    -o-transform: translate(40%, -50%) rotate(90deg);
                
                    h4 {
                        color: $lightBlue;  
                        font-size: 16px;
                        position: relative;
                    
                        &::after {
                            content: "";
                            position: absolute;
                            right: -50%;
                            top: 50%;
                            width: 70px;
                            height: 2px;
                            background-color: $lowOpacityLightBlue;
                            transform: translate(45%, 50%);
                            -webkit-transform: translate(45%, 50%);
                            -moz-transform: translate(45%, 50%);
                            -ms-transform: translate(45%, 50%);
                            -o-transform: translate(45%, 50%);
                        }
                    }
                
                    .social {
                    
                        a {
                            font-size: 12px;
                        
                            i {
                                color: $whiteColor;
                                background-color: $lightBlue;
                                padding: 5px;
                                border-radius: 5px;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                -ms-border-radius: 5px;
                                -o-border-radius: 5px;
                                transform: rotate(-90deg);
                                -webkit-transform: rotate(-90deg);
                                -moz-transform: rotate(-90deg);
                                -ms-transform: rotate(-90deg);
                                -o-transform: rotate(-90deg);
                            }
                        
                        }
                    
                    }
                
                }
            }
        }
    
        .shape {
            position: absolute;
            left: 0;
            top: 250px;
            z-index: -1;
        }
    
        .shapeOne {
            animation: linear 20s animationOne infinite;
            -webkit-animation: linear 20s animationOne infinite;
        }
    
        .shapeTwo {
            left: 80px;
            top: 480px;
            animation: linear 20s animationTwo infinite;
            -webkit-animation: linear 20s animationTwo infinite;
        }
    
        .shapeThree {
            bottom: 120px;
            right: 320px;
            animation: linear 20s animationThree infinite;
            -webkit-animation: linear 20s animationThree infinite;
        }
    
    }

}

@keyframes animationOne {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    20% {
        transform: translate(73px, -1px) rotate(36deg);
    }
    40% {
        transform: translate(141px, 72px) rotate(72deg);
    }
    60% {
        transform: translate(83px, 122px) rotate(108deg);
    }
    80% {
        transform: translate(-40px, 72px) rotate(144deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }   

}

@keyframes animationTwo {
    0% {
        transform: translate(165px, -179px);
    }
    
    100% {
        transform: translate(-346px, 617px);
    }
}

@keyframes animationThree {
    0% {
        transform: translate(61px, -99px) rotate(0deg);
        -webkit-transform: translate(61px, -99px) rotate(0deg);
        -moz-transform: translate(61px, -99px) rotate(0deg);
        -ms-transform: translate(61px, -99px) rotate(0deg);
        -o-transform: translate(61px, -99px) rotate(0deg);
}
    20% {
        transform: translate(4px, -190px) rotate(38deg);
        -webkit-transform: translate(4px, -190px) rotate(38deg);
        -moz-transform: translate(4px, -190px) rotate(38deg);
        -ms-transform: translate(4px, -190px) rotate(38deg);
        -o-transform: translate(4px, -190px) rotate(38deg);
}
    40% {
        transform: translate(-139px, -200px) rotate(74deg);
        -webkit-transform: translate(-139px, -200px) rotate(74deg);
        -moz-transform: translate(-139px, -200px) rotate(74deg);
        -ms-transform: translate(-139px, -200px) rotate(74deg);
        -o-transform: translate(-139px, -200px) rotate(74deg);
}
    60% {
        transform: translate(-263px, -164px) rotate(108deg);
        -webkit-transform: translate(-263px, -164px) rotate(108deg);
        -moz-transform: translate(-263px, -164px) rotate(108deg);
        -ms-transform: translate(-263px, -164px) rotate(108deg);
        -o-transform: translate(-263px, -164px) rotate(108deg);
}
    80% {
        transform: translate(-195px, -149px) rotate(144deg);
        -webkit-transform: translate(-195px, -149px) rotate(144deg);
        -moz-transform: translate(-195px, -149px) rotate(144deg);
        -ms-transform: translate(-195px, -149px) rotate(144deg);
        -o-transform: translate(-195px, -149px) rotate(144deg);
}
    100% {
        transform: translate(61px, -99px) rotate(0);
        -webkit-transform: translate(61px, -99px) rotate(0);
        -moz-transform: translate(61px, -99px) rotate(0);
        -ms-transform: translate(61px, -99px) rotate(0);
        -o-transform: translate(61px, -99px) rotate(0);
}
}

.welcome2 {
    @extend .welcome;
    
    .row {
        position: relative;
        z-index: 1;
    
        .right {
        
            .image {
                position: relative;
                
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 10%;
                    bottom: 0;
                    width: 85%;
                    height: 90%;
                    margin: 0 auto;
                    background-color: #1e90ff;
                    z-index: -5;
                }
            
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 10%;
                    top: 23%;
                    bottom: 0;
                    width: 90%;
                    height: 83%;
                    margin: 0 auto;
                    background-color: transparent;
                    border: 2px solid #000;
                    z-index: -1;
                }
            
            }
        }
    
    }
}


.brief {

    .row {
        background-color: $whiteColor;
        padding: 50px 20px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        box-shadow: 0px 13px 20px 4px rgba(0, 0, 0, 0.3);
        position: relative;
    
        .left {
            position: absolute;
            left: 0;
            top: 50%;
            height: 250px;
            width: 250px;
            background: url("images/brief.png"), linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
            // background: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transform: translate(-5%,-50%);
            -webkit-transform: translate(-5%,-50%);
            -moz-transform: translate(-5%,-50%);
            -ms-transform: translate(-5%,-50%);
            -o-transform: translate(-5%,-50%);
            border-radius: 25px;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;
        }
    
        .slider {
        
            .dot {
                margin-bottom: 10px;
                border-radius: 50px;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                -ms-border-radius: 50px;
                -o-border-radius: 50px;
            }
        
            .dotOne {
                width: 7px;
                height: 7px;
                background-color: $gray;
            }
        
            .dotTwo {
                width: 7px;
                height: 20px;
                background: $linearGradient;
            }
        
            .dotThree {
                @extend .dotOne;
            }
        
        }
    
    }

}

.example {

    .image {
        margin-bottom: 25px;
    
        img {
            width: 200px;
            height: 200px;
            text-align: center;
            border: 3px solid $blackColor;
            transition: all .5s;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
        
            &:hover {
                transform: scale(1.15);
                -webkit-transform: scale(1.15);
                -moz-transform: scale(1.15);
                -ms-transform: scale(1.15);
                -o-transform: scale(1.15);
                filter: brightness(1.25);
                -webkit-filter: brightness(1.25);
}
        }
    
    }

}

.contact {


    .info {
    
        .box {
        
            .icon {
                color: $whiteColor;
                background-color: $lightBlue;
                padding: 10px;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
        
            .details {
            
                span {
                    color: $gray;
                
                }
            
                h4 {
                    font-size: 16px;
                    margin-top: 8px;
                
                }
            
            }
        
        }
    
    }

    .form {
    
    
        .input {
            margin: 10px 0;
        
            input {
                padding: 20px !important;
            
                &:focus {
                    // border: none !important;
                    box-shadow: none !important;
                    border-color: $lightBlue !important;
                }
            
                &::placeholder {
                    transition: all .5s;
                    -webkit-transition: all .5s;
                    -moz-transition: all .5s;
                    -ms-transition: all .5s;
                    -o-transition: all .5s;
                }
            
                &:focus::placeholder {
                    color: transparent;
                }
            
            }
        
            textarea {
                @extend input;
                height: 280px;
            }
        
        }
    
        .submit {
            margin-top: 50px;
        }
    
    }

}

.contact2 {


    .box {
        padding: 10px 25px;
        background-color: $whiteColor;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    
        a {
            font-weight: 700;
            font-family: $fontVicBold;
            width: 100%;
            display: block;
        }
    
        &:hover a {
            color: $whiteColor;
        }
    
    }

    .linkedIn {
        border: 2px solid #1e90ff;
    
        a {
            color: #1e90ff;
        
        }
    
        &:hover {
            background-color: #1e90ff;
        }
    
    }

    .github {
        border: 2px solid $blackColor;
    
        a {
            color: $blackColor;
        
        }
    
        &:hover {
            background-color: $blackColor;
        }
    
    }

    .gmail {
        border: 2px solid red;
    
        a {
            color: red;
        
        }
    
        &:hover {
            background-color: red;
        }
    
    }

    .whatsapp {
        border: 2px solid lightgreen;
    
        a {
            color: lightgreen;
        
        }
    
        &:hover {
            background-color: lightgreen;
        }
    
    }

    .phone {
        border: 2px solid $blackColor;
    
        a {
            color: $blackColor;
        
        }
    
        &:hover {
            background-color: $blackColor;
        }
    
    }

}

section {
    padding-top: 100px;
}

.welcomeScreen {

    h4 {
        text-transform: capitalize;
        font-weight: 700;
        margin-bottom: 20px;
    
    }

}

/* Remove margin for sections that are hidden on certain screen sizes */
@media (max-width: 768px) {
    section.hidden-on-mobile {
    display: none;
    }

    /* Adjust the first visible section's margin */
    section:not(.hidden-on-mobile):first-of-type {
    padding-top: 100px;
    }
}