@font-face {
    font-family: vic-Bold;
    src: url("../Edu_VIC_WA_NT_Beginner/static/EduVICWANTBeginner-Bold.ttf");
}

@font-face {
    font-family: vic-Medium;
    src: url("../Edu_VIC_WA_NT_Beginner/static/EduVICWANTBeginner-Medium.ttf");
}

@font-face {
    font-family: vic-Regular;
    src: url("../Edu_VIC_WA_NT_Beginner/static/EduVICWANTBeginner-Regular.ttf");
}

@font-face {
    font-family: vic-SemiBold;
    src: url("../Edu_VIC_WA_NT_Beginner/static/EduVICWANTBeginner-SemiBold.ttf");
}

@font-face {
    font-family: merriWeather-Bold;
    src: url("../Merriweather/Merriweather-Bold.ttf");
}

@font-face {
    font-family: merriWeather-black;
    src: url("../Merriweather/Merriweather-Black.ttf");
}

@font-face {
    font-family: merriWeather-Regular;
    src: url("../Merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: merriWeather-light;
    src: url("../Merriweather/Merriweather-Light.ttf");
}