@import "../Variables/Variables";

.section {
    padding-bottom: 80px;
}

.boxShadow {
    box-shadow: rgb(14 17 51 / 10%) 0px 5px 60px 0px;
}

.primaryBtn {
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.primaryBtn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.personalInformation {
            
    .title {
        text-transform: capitalize;
        color: $lightBlue;
        border: 1px solid $lightBlue;
        padding: 7px 15px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    .name {
        margin-top: 25px;
        text-transform: capitalize;
        font-family: $fontNunito;
        font-weight: 700;
        
    }

    .brief{
        margin-top: 20px;
        color: $darkBlue;
        line-height: 30px;
        font-size: 14px;
        font-family: $fontWeatherRegular;
        margin-bottom: 50px;
    }

}

.secondBtn {
    color: $blackColor;
    font-family: $fontVicMedium;
    font-size: 20px;
    text-transform: capitalize;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;

    i {
        background: $linearGradient;
        background-clip: text;
        color: transparent;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }

    &:hover {
        color: $blackLowOpacity;
    }

    &:hover i {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
    }

}

.infoTitles {
    margin-bottom: 70px;

    .headTitle {
        // background-image: url("../../../images/circle.svg");
        // background-position: center center;
        // background-repeat: no-repeat;
        // background-size: cover;
        font-size: 25px;
        font-family: $fontVicMedium;
        text-transform: capitalize;
        color: $lightBlue;
        padding: 5px 10px;
        // width: fit-content;
        border: 1px solid $blackLowOpacity;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        position: relative;
        
    
        &::before {
            // content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100px;
            height: 40px;
            background-color: transparent;
            border: 1px solid $blackLowOpacity;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }
    }

    .subTitle {
        color: $blackColor;
        text-transform: capitalize;
        font-size: 35px;
        font-family: $fontWeatherBold;
        margin-top: 25px;
    }

    .paragraph {
        margin-top: 15px;
        line-height: 25px;
        color: $gray;
    }

}

.infoTitles2 {
    width: 40%;
}

.box {
    background-color: $whiteColor;
    margin: 20px 0;
    padding: 40px 20px;
    box-shadow: rgb(14 17 51 / 10%) 0px 5px 60px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.personalSkill {
    color: $darkBlue;
    margin-top: 20px;
    text-transform: capitalize;
    font-family: $fontVicBold;
}

.changeColor {
    color: $lightBlue;
}

.btns {
    margin-top: 25px;
}

.smallScreenBtn {
    color: $blackColor;
    background-color: $whiteColor;
    border: 2px solid $blackColor;
    text-transform: capitalize;
    padding: 8px 25px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;

    &:hover {
        background-color: $lightBlack;
        color: $whiteColor;
    }
}

@media (max-width: 768px) {
    .infoTitles2 {
        width: 100%;
    }
}

.boxShadow {
    margin-bottom: 50px;
    text-align: center;

    .title {
        color: $blackColor;
        background-color: $whiteColor;
        font-size: 18px;
        border: 2px solid $blackColor;
        padding: 10px 15px;
        position: relative;
    
        &::before {
            content: "";
            position: absolute;
            left: 10px;
            right: 0;
            top: 10px;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: $blackColor;
            z-index: -1;
        
        }
    
    }

}

.links {
    margin-top: 30px;

    .linkShadow {
        background-color: $whiteColor;
        border: 2px solid $lightBlue;
        position: relative;
        margin: 0 20px 20px;
        padding: 10px 25px;
        transition: all .5s;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -ms-transition: all .5s;
            -o-transition: all .5s;
    
        &::before {
            content: "";
            position: absolute;
            left: 10px;
            right: 0;
            top: 10px;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-color: $lightBlue;
            opacity: .5;
            z-index: -1;
        
        }
    
        a {
            color: $lightBlue;
            text-transform: capitalize;
            font-weight: 700;
            font-size: 16px;
            display: block;
        
        }
    
        &:hover {
            background-color: $lightBlue;
        
        }
    
        &:hover a {
            color: $whiteColor;
        
        }
    
    }

}